.inner-container {
    width: 1144px;
    margin: 0 auto;
    padding: 120px 0;
    min-height: 100%;
    position: relative;
    display: flex;
    flex-flow: row wrap;
}

.intro-message {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-flow: column;
    transform: translate(-50%, -50%);
}

#header-intro {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background-size: cover;
    overflow: hidden;
}

#we-provide, #portfolio, #about, #contacts, #about-us {
    width: 100%;
    display: block;
}

#contacts {
    height: 100%;
}

#footer {
    width: 100%;
    height: 80px;
    display: none;
}

// section about-us: start
.sem-colon {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto;
}

.item {
    text-align: center;
    width: 33.33%;
    min-height: 400px;
    color: $top-grey-color;
    img {
        width: 65%;
        height: auto;
    }
    .caption {
        margin: 0.9em 0;
        font-family: "Lato", $font-stack;
        font-weight: 900;
        font-size: 2em;
    }
    .label {
        font-family: "Lato Medium", $font-stack;
        font-weight: 400;
        font-size: 0.6em;
    }
}
// section about-us: end

// section portfolio: start

.project {
    position: relative;

    img {
        width: 85%;
    }

    img, img.blur, .caption, .describe {
        position: absolute;
        left: 0;
        top: 0;
    }

    img.blur {
        top: 5.3em;
        opacity: 0.3;
        z-index: 10;
    }

    .caption, .describe {
        left: 1em;
        color: #fff;
        z-index: 12;
        top: 5em;
    }

    .describe{
        left: 2em;
        top: 15em;
    }


}

#portfolio .item{
    min-height: 200px;
    padding-bottom: 15em;
    padding-top: 5em;
}
// section portfolio: end

//section we-provide: start

.item-4{
    width: 25%;
    text-align: center;
    color: $top-grey-color;

    img {
        width: 100%;
        height: auto;
    }
}

.col-iphone {
    width: 7%;
}

.flex-baseline {
    align-items: baseline;
}

.services {
    margin-top: 8em;
    img{
        width: auto;
    }

    .desc {
        margin: 0.8em 0 0.4em;
        font-family: "Lato", $font-stack;
        font-weight: 900;
        font-size: 1.4em;
        white-space: nowrap;
    }
    .describe{
        font-family: "Lato", $font-stack;
        font-weight: 200;
        font-size: 1em;
    }
    .item{
        margin-left: 1.3em;
        margin-right: 1.3em;
        width: 30%;
        align-self: center;
        padding: 3em 1.5em 1em;
        position: relative;
        min-height: 0;
        margin-bottom: 4em;
    }
    .item-dark{
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #000;
        opacity: 0.051!important;
        box-shadow: 0px 0px 40px 0px rgba(255,255,255,1);
    }
}

//section we-provide: end

//section contacts: start
#contacts {
    .item {
        width: 50%;
        padding-bottom: 2em;

        img{
            width: 100%;
        }

    }
    .item-contact{
        padding: 8.2em 1em 2em 4em;
        text-align: left;

        input[type=text], textarea{

            font-family: "Lato", $font-stack;
            font-size: 1.2em;
            position: relative;
            border: none;
            border-bottom: 1px solid #a0a0a0;
            background: transparent;
            margin-bottom: 3em;
            left: 0;
            height: 1.5em;

            &:hover, &:focus{
                outline: none;
                border-color: #000;
            }
        }
        input[type=text]{
            width: 50%;
        }

        textarea{
            width: 100%;
            resize: none;
            overflow-y: auto;

            &:focus{
                height: 10em;
                max-height: 500px;
            }
        }

        button[type=submit]{
            position: relative;

            display: inline-block;
            font-size: 2em;
            width: 5em;
            height: 2em;
            margin: 0;
            opacity: 0.9;
            font-family: "Lato", $font-stack;
            font-weight: 900;
            border: 1px solid transparent;
            color:#E5FFFF;
            text-align:center;
            border-radius: 50px;
            background: red;
            background-clip: padding-box;
            padding: 10px;
            border-image: linear-gradient(to right, $yellow-base-color 0%, $blue-base-color 100%);
            //box-shadow:0px 0px 2px #ba0025, inset 0px 0px 1px #55d3ff;
            box-shadow: 0 3px 9px black, inset 0 0 9px white;

            &:focus:after, &:hover:after {
                position: absolute;
                top: -1px; bottom: -1px;
                left: -1px; right: -1px;
                background: linear-gradient(to right, $yellow-base-color 0%, $blue-base-color 100%);
                content: '';
                z-index: -3;
                border-radius: 50px;
            }
        }
    }
}
//section contacts: start
