
.sidebar {
    width: 48px;
    height: 80px;
    display: block;
    position: fixed;
    z-index: 12;
    top: calc(50% - 7px);
    left: 32px;
}

.sidebar-item {
    width: 100%;
    height: 16px;
    padding-top: 7px;
    display: block;
    position: relative;
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    cursor: pointer;

    .sidebar-line {
        width: 50%;
        height: 1px;
        background: #636363;
        display: block;
        background: linear-gradient(to right, #636363 0%, #636363 50%, $yellow-base-color 50%, #02ccff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$first-color, endColorstr=$second-color, GradientType=1);
        background-size: 200% 200%;
        background-position: 0;
    }

    &:hover .sidebar-line {
        background: $yellow-base-color;
        background: linear-gradient(to right, $yellow-base-color 0%, #02ccff 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$first-color, endColorstr=$second-color, GradientType=1);
        transition: all ease-in-out 0.2s;
    }
}
