.center {
    text-align: center;
}

.dark {
    color: #fff;
}

.mid {
    color: #ccc;
}

.headline-big {
    font-size: 6.286em;
    font-weight: 500;
    line-height: 1.091em;
    margin: 0 0 24px 0;
    letter-spacing: -0.02em;
}

.headline {
    font-size: 3em;
    font-family: "Roboto", $font-stack;
    font-weight: 400;
    line-height: 1.333em;
    margin: 0 0 32px 0;
}

.subheadline {
    font-size: 1.714em;
    margin-bottom: 24px;
}
